.post_item {
  color: #ffffff;
}

.posts-block {
  padding: 15px;
  background: #6a3783;
  border-radius: 10px;
}

.posts {
  margin-top: 15px;
}

.txt-post {
  color: #ffffff;
  font-size: 24px;
}

.btn-txt-my-posts {
  margin-left: 10px;
  outline: none;
  margin: 10px 20px;
}

.txt-area-my-posts {
  display: block;
  width: 450px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
}

@media (max-width: 680px) {
  .txt-area-my-posts {
    width: 100%;
    height: 50px;
  }
}
